.article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-footer);
}

.article__image-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-footer);
}

.article__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  transition: transform .3s ease-in-out;
}

.article__image:hover {
  transform: translateX(1);
} 

.article__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  height: 100%;
}

.article__content:hover {
  background-color: var(--color-hover);
}

.article__text {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 11.649px;
  line-height: 35px;
  color: #fff;
}

.article__title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 25.11px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 5rem;
  cursor: pointer;
}

.article__text:last-child {
  max-width: 60%;
  cursor: pointer;
  color: #fff;
  opacity: 1;
}

.article__text:last-child:hover {
  opacity: .65;
  transition: opacity .3s linear;
}

.article__text:last-child:hover::after {
  content: '   →';
  /*  transition-duration: .9s; */
  transform: translate(5px, 0);
}

@media screen and (max-width: 550px) {
  .article {
    font-size: 18px;
    line-height: 25px;
  }
}